/* .container{
    position: sticky;
    top: 40px;
}


.list{
    list-style: none;
    color: var(--textSoft);
    font-weight: bold;
    font-size: 15px;
    margin: 20px;
    align-items: center;

}

.it{
    padding-bottom: 30px;
} */

.container{
    position: sticky;
    top: 40px;
  }
  
  .user{
    display: flex;
    background-color: var(--accent);
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: white;
    width: 255px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    top: 1px;

    
  }
  
  .userImage{
    border-radius: 50%;
    object-fit:cover;
    margin-left: 20px;
    width: 35px;
    height: auto;
  }
  
  .username{
    font-weight: 500;
    font-weight: 200px;
  }
  
  .list{
    list-style: none;
    color:  black;
    font-weight: 300px;
    font-size: 15px;
    font: "Arial";
    gap: 0px;
  }
  
  .cat{
    color: var(--textSoft);
    font-weight: bold;
    font: "Arial";
    font-size: 13px;
  }
  

  .IIITDlogo{
    display: flex;
    align-items:center;
    margin-bottom: 20px;

  }

  .IIITD{
    font-family: 'Arial';
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 1px;
  }

  .Bot{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: var(--accent);
    /* font-weight: bold; */
    position: relative;
    top: 0px;
  }


  .line {
    height: 2px; /* Adjust the thickness of the line */
    background-color: var(--bg); /* Change the color as needed */
    margin: 25px 0; /* Adjust the margin as needed */
    width: 250px;
    margin-left: 0px;
  }

  .logout{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0px;
    border-radius: 50px;
    width: 255px;
    height: 50px;
    overflow: hidden;
    top: 1px;
    cursor: pointer;
    background: none;
    border: 1px solid var(--accent);
    color: var(--accent);
    width: 100%;
    font-size: 15px;
    position: absolute;
    top: 160%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    justify-content: center;
  }
  
  .logout:hover{
    background-color: #EFEFEF;
  }
  
  