.container{
    display: flex; 
    width: 95%;
    background-color: white;
    padding: 25px; 
    border-radius: 10px;
    height: 100%;
    min-height: 65vh; 
    flex-direction: column;
    gap: 15px;
}

.heading{
  margin-top: 1%;
  padding-left: 50px;
  margin-bottom: 10px;
}

.form{
background-color: var(--bgSoft);
padding-left: 50px;
border-radius: 10px;
width: auto;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
gap: 30px;
/* align-items: center; */
}

.contents{
  padding-left: 50px;
  border-radius: 10px;
  width: 100%;
  gap: 30px;
  flex-direction: column;
  display: flex;
  
}

.success{
  /* padding-left: 50px; */
  align-self: center;
}

.form input{
    padding:10px;
    /* border: 2px solid rgba(255, 235, 205, 0); */
    border-radius: 5px;
    background-color: #EEECEC;
    color : var(--text);
    width: 90%;
    height: 200px;
    border: 2px solid #ccc; 

}

.form input::placeholder {
    white-space: pre-line; /* Allows newlines to be rendered */
}



.button{
    padding: 10px;
    width: 20%;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--accent);
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
}



.ratingContainer {
    display: flex;
    /* gap: 5px; */
    border: 1px solid var(--accent);
    width: 90%;
    /* justify-content: space-between; */
    border: 2px solid #ccc; 
    border-radius: 5px;
    /* border-radius: 20px; */
    padding: 2px; 
    margin-top: -10px;
    /* background-color: #EEECEC; */
    
  }
  
  .star {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #C4C4C6;
    background-color: transparent; 
    border: none; 
    padding: 5px; 
    margin: 0;
    cursor: pointer; 

  }
  
  .selected {
    color: var(--accent)
  }


.ratingOuterContainer{
    padding: 10 px;
    margin: 2px;
    gap: 20px;
    
    
}

.ratingText{
  padding-top: 5px;
  padding-left: 5px;
  
}

.dropdown{
  display: flex;
  /* gap: 5px; */
  padding: 10px;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  background-color: white;
  color: var(--text);
  border: none;
  cursor: pointer; 
  border-radius: 5px;
  border: 2px solid #ccc; 
  text-align: left;
  justify-content: space-between; 
}

.dropdownmenu{

  max-height: 10%;
}